<head>
    <title>DashboardKit Bootstrap 5 Admin Template</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="DashboardKit is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
    <meta name="keywords" content="DashboardKit, Dashboard Kit, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Free Bootstrap Admin Template">
    <meta name="author" content="DashboardKit ">

    <link rel="icon" href="~/dashboardkit/dist/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/feather.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/material.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/css/style.css" id="main-style-link">
</head>