<head>
    <title>Avans Yönetim - @ViewData["Title"]</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Avans Yönetim Projesi - Kullanıcılar avans talebinde bulunabilir.">
    <meta name="keywords" content="Avans, İstek, Onay, Kullanıcı, Proje">
    <meta name="author" content="BilgeAdam">

    <link rel="icon" href="~/dashboardkit/dist/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/feather.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/material.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/css/style.css" id="main-style-link">

    <link rel="icon" href="~/dashboardkit/dist/assets/images/favicon.svg" type="image/x-icon">
</head>