CREATE DATABASE [AdvanceDB]
GO
USE [AdvanceDB]
GO
/****** Object:  Table [dbo].[Advance]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Advance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Advance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdvanceAmount] [money] NULL,
	[AdvanceDescription] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
	[ProjectID] [int] NULL,
	[DesiredDate] [datetime] NULL,
	[StatusID] [int] NULL,
	[RequestDate] [datetime] NULL,
	[EmployeeID] [int] NULL,
 CONSTRAINT [PK_Advance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Advance] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[AdvanceHistory]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AdvanceHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusID] [int] NULL,
	[AdvanceID] [int] NULL,
	[TransactorID] [int] NULL,
	[ApprovedAmount] [money] NULL,
	[Date] [datetime] NULL,
	[isDone] [bit] NULL,
 CONSTRAINT [PK_AdvanceHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[AdvanceHistory] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Authorization]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Authorization]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Authorization](
	[AuthorizationID] [int] IDENTITY(1,1) NOT NULL,
	[AuthroizationName] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
 CONSTRAINT [PK_Authorization] PRIMARY KEY CLUSTERED 
(
	[AuthorizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Authorization] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[BusinessUnit]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BusinessUnit]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BusinessUnit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnitName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[BusinessUnitDescription] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
 CONSTRAINT [PK_BusinessUnit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[BusinessUnit] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[Surname] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[PhoneNumber] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[Email] [nvarchar](100) COLLATE Turkish_CI_AS NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[BusinessUnitID] [int] NULL,
	[TitleID] [int] NULL,
	[UpperEmployeeID] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[Employee] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[EmployeeProject]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeProject]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeProject](
	[EmployeeID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeProject] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[EmployeeProject] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[LogTable]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LogTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LogTable](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogLevel] [nvarchar](10) COLLATE Turkish_CI_AS NULL,
	[Message] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
	[Exception] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__LogTable__5E548648F0045D53] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[LogTable] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Page]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Page]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Page](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[Path] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[Icon] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Page] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Payment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeterminedPaymentDate] [datetime] NULL,
	[FinanceManagerID] [int] NULL,
	[AdvanceID] [int] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Payment] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Project]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Project]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Project](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[ProjectDescription] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
	[EndDate] [datetime] NULL,
	[StartingDate] [datetime] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Project] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Receipt]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Receipt](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNo] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[isRefundReceipt] [bit] NULL,
	[AdvanceID] [int] NULL,
	[Date] [datetime] NULL,
	[AccountantID] [int] NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Receipt] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Rule]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rule]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaxAmount] [money] NULL,
	[MinAmount] [money] NULL,
	[Date] [datetime] NULL,
	[TitleID] [int] NULL,
 CONSTRAINT [PK_Rule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Rule] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Status]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Status]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Status](
	[ID] [int] NOT NULL,
	[StatusName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Status] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Title]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Title]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Title](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TitleName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[TitleDescription] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Title] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[TitleAuthorization]    Script Date: 12/17/2023 9:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TitleAuthorization](
	[TitleID] [int] NOT NULL,
	[AuthorizationID] [int] NOT NULL,
	[PageID] [int] NOT NULL,
 CONSTRAINT [PK_TitleAuthorization] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC,
	[AuthorizationID] ASC,
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[TitleAuthorization] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Advance] ON 

INSERT [dbo].[Advance] ([ID], [AdvanceAmount], [AdvanceDescription], [ProjectID], [DesiredDate], [StatusID], [RequestDate], [EmployeeID]) VALUES (1, 8000.0000, N'Buna ihtiyacım var.', 3, CAST(N'2023-12-20T00:00:00.000' AS DateTime), 102, CAST(N'2023-12-17T20:54:14.230' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[Advance] OFF
GO
SET IDENTITY_INSERT [dbo].[AdvanceHistory] ON 

INSERT [dbo].[AdvanceHistory] ([ID], [StatusID], [AdvanceID], [TransactorID], [ApprovedAmount], [Date], [isDone]) VALUES (1, 201, 1, 6, 8000.0000, CAST(N'2023-12-17T20:54:14.247' AS DateTime), 1)
INSERT [dbo].[AdvanceHistory] ([ID], [StatusID], [AdvanceID], [TransactorID], [ApprovedAmount], [Date], [isDone]) VALUES (2, 202, 1, 5, 7000.0000, CAST(N'2023-12-17T20:55:09.070' AS DateTime), 1)
INSERT [dbo].[AdvanceHistory] ([ID], [StatusID], [AdvanceID], [TransactorID], [ApprovedAmount], [Date], [isDone]) VALUES (3, 203, 1, 4, 7000.0000, CAST(N'2023-12-17T20:59:05.453' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[AdvanceHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Authorization] ON 

INSERT [dbo].[Authorization] ([AuthorizationID], [AuthroizationName]) VALUES (1, N'Select')
SET IDENTITY_INSERT [dbo].[Authorization] OFF
GO
SET IDENTITY_INSERT [dbo].[BusinessUnit] ON 

INSERT [dbo].[BusinessUnit] ([ID], [BusinessUnitName], [BusinessUnitDescription]) VALUES (1, N'IT', N'Information Technology')
INSERT [dbo].[BusinessUnit] ([ID], [BusinessUnitName], [BusinessUnitDescription]) VALUES (2, N'İnsan Kaynakları', N'İnsan Kaynakları')
INSERT [dbo].[BusinessUnit] ([ID], [BusinessUnitName], [BusinessUnitDescription]) VALUES (3, N'Teknik Destek', N'Teknik Destek')
SET IDENTITY_INSERT [dbo].[BusinessUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Name], [Surname], [PhoneNumber], [Email], [PasswordHash], [PasswordSalt], [BusinessUnitID], [TitleID], [UpperEmployeeID]) VALUES (1, N'Admin', N'Admin', N'+123456789', N'Admin', NULL, NULL, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[LogTable] ON 

INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (1, N'Info', N'Application started. Press Ctrl+C to shut down.', N'', CAST(N'2023-12-17T20:26:08.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (2, N'Info', N'Request starting HTTP/2 GET https://localhost:44302/swagger/index.html - -', N'', CAST(N'2023-12-17T20:26:08.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (3, N'Info', N'Hosting environment: Development', N'', CAST(N'2023-12-17T20:26:08.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (87, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.Exception: User not found
   at AdvanceAPI.BLL.Concrete.AuthManager.Login(EmployeeLoginDTO employeeLoginDTO) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.BLL\Concrete\AuthManager.cs:line 38
   at AdvanceAPI.API.Controllers.AuthController.Login(EmployeeLoginDTO dto) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.API\Controllers\AuthController.cs:line 23
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware.<Invoke>g__Awaited|6_0(ExceptionHandlerMiddleware middleware, HttpContext context, Task task)', CAST(N'2023-12-17T20:32:48.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (95, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.Exception: Passwords did not match
   at AdvanceAPI.BLL.Concrete.AuthManager.Login(EmployeeLoginDTO employeeLoginDTO) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.BLL\Concrete\AuthManager.cs:line 41
   at AdvanceAPI.API.Controllers.AuthController.Login(EmployeeLoginDTO dto) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.API\Controllers\AuthController.cs:line 23
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware.<Invoke>g__Awaited|6_0(ExceptionHandlerMiddleware middleware, HttpContext context, Task task)', CAST(N'2023-12-17T20:32:53.000' AS DateTime))
GO
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (103, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.Exception: User not found
   at AdvanceAPI.BLL.Concrete.AuthManager.Login(EmployeeLoginDTO employeeLoginDTO) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.BLL\Concrete\AuthManager.cs:line 38
   at AdvanceAPI.API.Controllers.AuthController.Login(EmployeeLoginDTO dto) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.API\Controllers\AuthController.cs:line 23
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware.<Invoke>g__Awaited|6_0(ExceptionHandlerMiddleware middleware, HttpContext context, Task task)', CAST(N'2023-12-17T20:33:08.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (111, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.Exception: Passwords did not match
   at AdvanceAPI.BLL.Concrete.AuthManager.Login(EmployeeLoginDTO employeeLoginDTO) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.BLL\Concrete\AuthManager.cs:line 41
   at AdvanceAPI.API.Controllers.AuthController.Login(EmployeeLoginDTO dto) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.API\Controllers\AuthController.cs:line 23
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware.<Invoke>g__Awaited|6_0(ExceptionHandlerMiddleware middleware, HttpContext context, Task task)', CAST(N'2023-12-17T20:33:13.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (119, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.Exception: Passwords did not match
   at AdvanceAPI.BLL.Concrete.AuthManager.Login(EmployeeLoginDTO employeeLoginDTO) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.BLL\Concrete\AuthManager.cs:line 41
   at AdvanceAPI.API.Controllers.AuthController.Login(EmployeeLoginDTO dto) in C:\Users\furka\source\repos\Advance\AdvanceApp\AdvanceAPI\AdvanceAPI.API\Controllers\AuthController.cs:line 23
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware.<Invoke>g__Awaited|6_0(ExceptionHandlerMiddleware middleware, HttpContext context, Task task)', CAST(N'2023-12-17T20:33:33.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LogTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([PageID], [PageName], [Path], [Icon]) VALUES (1, N'Yeni Avans Talebi', N'/Advance/AdvanceRequest', N'note_add')
INSERT [dbo].[Page] ([PageID], [PageName], [Path], [Icon]) VALUES (2, N'Geçmiş Avans Taleplerim', N'/Advance/MyAdvanceRequests', N'source')
INSERT [dbo].[Page] ([PageID], [PageName], [Path], [Icon]) VALUES (3, N'Onay Bekleyen Talepler', N'/Advance/PendingAdvanceRequests', N'pending')
SET IDENTITY_INSERT [dbo].[Page] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ID], [ProjectName], [ProjectDescription], [EndDate], [StartingDate]) VALUES (1, N'Avans Projesi', N'Avans Projesi', CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Project] ([ID], [ProjectName], [ProjectDescription], [EndDate], [StartingDate]) VALUES (2, N'Akademi Projesi', N'Akademi Projesi', CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Project] ([ID], [ProjectName], [ProjectDescription], [EndDate], [StartingDate]) VALUES (3, N'Yeşil Ev Projesi', N'Yeşil Ev Projesi', CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Rule] ON 

INSERT [dbo].[Rule] ([ID], [MaxAmount], [MinAmount], [Date], [TitleID]) VALUES (1, 1000.0000, 0.0000, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Rule] ([ID], [MaxAmount], [MinAmount], [Date], [TitleID]) VALUES (2, 5000.0000, 1001.0000, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[Rule] ([ID], [MaxAmount], [MinAmount], [Date], [TitleID]) VALUES (3, 10000.0000, 5001.0000, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Rule] OFF
GO
INSERT [dbo].[Status] ([ID], [StatusName]) VALUES (101, N'Bekliyor')
INSERT [dbo].[Status] ([ID], [StatusName]) VALUES (102, N'Onaylandı')
INSERT [dbo].[Status] ([ID], [StatusName]) VALUES (103, N'Reddedildi')
GO
SET IDENTITY_INSERT [dbo].[Title] ON 

INSERT [dbo].[Title] ([ID], [TitleName], [TitleDescription]) VALUES (1, N'Finans Müdürü', N'FM Onayına')
INSERT [dbo].[Title] ([ID], [TitleName], [TitleDescription]) VALUES (2, N'Genel Müdür', N'GM Onayına')
INSERT [dbo].[Title] ([ID], [TitleName], [TitleDescription]) VALUES (3, N'Genel Müdür Yardımcısı', N'GMY Onayına')
SET IDENTITY_INSERT [dbo].[Title] OFF
GO
INSERT [dbo].[TitleAuthorization] ([TitleID], [AuthorizationID], [PageID]) VALUES (1, 1, 1)
INSERT [dbo].[TitleAuthorization] ([TitleID], [AuthorizationID], [PageID]) VALUES (1, 1, 2)
INSERT [dbo].[TitleAuthorization] ([TitleID], [AuthorizationID], [PageID]) VALUES (1, 1, 4)
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_AdvanceHistory_isDone]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AdvanceHistory] ADD  CONSTRAINT [DF_AdvanceHistory_isDone]  DEFAULT ((0)) FOR [isDone]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_Project]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceHistory_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory] CHECK CONSTRAINT [FK_AdvanceHistory_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceHistory_Employee] FOREIGN KEY([TransactorID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory] CHECK CONSTRAINT [FK_AdvanceHistory_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceHistory_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory] CHECK CONSTRAINT [FK_AdvanceHistory_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_BusinessUnit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_BusinessUnit] FOREIGN KEY([BusinessUnitID])
REFERENCES [dbo].[BusinessUnit] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_BusinessUnit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_BusinessUnit]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([UpperEmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Title]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeProject_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeProject]'))
ALTER TABLE [dbo].[EmployeeProject]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProject_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeProject_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeProject]'))
ALTER TABLE [dbo].[EmployeeProject] CHECK CONSTRAINT [FK_EmployeeProject_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeProject_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeProject]'))
ALTER TABLE [dbo].[EmployeeProject]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProject_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeProject_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeProject]'))
ALTER TABLE [dbo].[EmployeeProject] CHECK CONSTRAINT [FK_EmployeeProject_Project]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Payment_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Payment]'))
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Payment_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Payment]'))
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Payment_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Payment]'))
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Employee] FOREIGN KEY([FinanceManagerID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Payment_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Payment]'))
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Receipt_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Receipt]'))
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Receipt_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Receipt]'))
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Receipt_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Receipt]'))
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Employee] FOREIGN KEY([AccountantID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Receipt_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Receipt]'))
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rule_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rule]'))
ALTER TABLE [dbo].[Rule]  WITH CHECK ADD  CONSTRAINT [FK_Rule_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rule_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rule]'))
ALTER TABLE [dbo].[Rule] CHECK CONSTRAINT [FK_Rule_Title]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Authorization]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_TitleAuthorization_Authorization] FOREIGN KEY([AuthorizationID])
REFERENCES [dbo].[Authorization] ([AuthorizationID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Authorization]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization] CHECK CONSTRAINT [FK_TitleAuthorization_Authorization]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Page]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_TitleAuthorization_Page] FOREIGN KEY([PageID])
REFERENCES [dbo].[Page] ([PageID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Page]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization] CHECK CONSTRAINT [FK_TitleAuthorization_Page]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_TitleAuthorization_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization] CHECK CONSTRAINT [FK_TitleAuthorization_Title]
GO
