@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Şifremi Unuttum</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Avans Yönetim Projesi - Kullanıcılar avans talebinde bulunabilir.">
	<meta name="keywords" content="Avans, İstek, Onay, Kullanıcı, Proje">
	<meta name="author" content="BilgeAdam">
	<link rel="icon" href="~/dashboardkit/dist/assets/images/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/feather.css">
	<link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/fontawesome.css">
	<link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/material.css">
	<link rel="stylesheet" href="~/dashboardkit/dist/assets/css/style.css" id="main-style-link">
</head>
<body>
	<!-- [ auth-signin ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<img src="~/dashboardkit/dist/assets/images/bilgeadamavans2.png" alt="" class="img-fluid mb-4">
							<h4 class="mb-3 f-w-400">Şifremi Unuttum</h4>

							@if (ViewData["ForgotPasswordMsg"] != null)
							{
								<div class="alert alert-info" role="alert">
									@ViewData["ForgotPasswordMsg"]
								</div>
							}

							<form asp-action="ForgotPassword" asp-controller="Auth" method="post">
								<div class="input-group mb-3">
									<span class="input-group-text"><i data-feather="mail"></i></span>
									<input type="text" name="email" class="form-control" placeholder="Mail Adresi" required>
								</div>

								<input type="submit" class="btn btn-block btn-primary mb-4" value="Gönder"></input>
							</form>
							<p class="mb-0 text-muted"><a href="/Auth/Login" class="f-w-400">Giriş Yap</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->
	<!-- Required Js -->
	<script src="~/dashboardkit/dist/assets/js/vendor-all.min.js"></script>
	<script src="~/dashboardkit/dist/assets/js/plugins/bootstrap.min.js"></script>
	<script src="~/dashboardkit/dist/assets/js/plugins/feather.min.js"></script>
	<script src="~/dashboardkit/dist/assets/js/pcoded.min.js"></script>

</body>

</html>