@using System.Security.Claims
@{
	string name = User.Claims.Where(a => a.Type == ClaimTypes.Name).Select(a => a.Value).SingleOrDefault();
	string surname = User.Claims.Where(a => a.Type == ClaimTypes.Surname).Select(a => a.Value).SingleOrDefault();
	string role = User.Claims.Where(a => a.Type == ClaimTypes.Role).Select(a => a.Value).SingleOrDefault();
}

<header class="pc-header ">
	<div class="header-wrapper">
		<div class="ml-auto">
			<ul class="list-unstyled">
				<li class="dropdown pc-h-item">
@* 					<a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
						<i class="material-icons-two-tone">search</i>
					</a>
					<div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-search">
						<form class="px-3">
							<div class="form-group mb-0 d-flex align-items-center">
								<i data-feather="search"></i>
								<input type="search" class="form-control border-0 shadow-none" placeholder="Ara. . .">
							</div>
						</form>
					</div> *@
				</li>
				<li class="dropdown pc-h-item">
					<a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
						<img src="~/dashboardkit/dist/assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
						<span>							
							<span class="user-desc">@role : @name @surname</span>
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
						<a href="~/Account/Profile" class="dropdown-item">
							<i class="material-icons-two-tone">person</i>
							<span>Profilim</span>
						</a>

						<a asp-controller="Auth" asp-action="Logout" class="dropdown-item">
							<i class="material-icons-two-tone">chrome_reader_mode</i>
							<span>Çıkış Yap</span>
						</a>

					</div>
				</li>
			</ul>
		</div>

	</div>
</header>