@{
    ViewData["Title"] = "Yeni Avans Talebi";
}
@model AdvanceInsertDTO
<div class="container col-md-12">
    <div class="card">
        <div class="card-body">

            <form asp-action="AdvanceRequest" asp-controller="Advance" method="POST">
                <div class="mb-3">
                    <label for="advanceAmount" class="form-label">Avans Miktarı:</label>
                    <input type="number" asp-for="AdvanceAmount" class="form-control" id="advanceAmount" placeholder="Avans Miktarı" required>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">İstenilen Tarih:</label>
                    <input type="date" asp-for="DesiredDate" class="form-control" id="date" required>
                </div>
                <div class="mb-3">
                    <label for="project" class="form-label">Projeler:</label>
                    <select class="form-select" asp-for="ProjectId" id="project" required>
                        @foreach (var title in (List<ProjectSelectDTO>)ViewBag.Projects)
                        {
                            <option value="@title.Id">@title.ProjectName</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description"  class="form-label">Açıklama:</label>
                    <textarea class="form-control" asp-for="AdvanceDescription" id="description" rows="3" required></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Gönder"></input>
                <input type="reset" class="btn btn-secondary" value="Vazgeç"></input>
            </form>
        </div>
    </div>
</div>