@{
    ViewData["Title"] = "MyAdvanceRequests";
}

<div class="container col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="mt-1">Geçmiş Avans Taleplerim</h3>
        </div>
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Talep<br />Tutarı</th>
                            <th>Talep<br />Tarihi</th>
                            <th>İstenilen<br />Tarih</th>
                            <th>Proje</th>
                            <th>Talep<br />Durumu</th>
                            <th>Onaylayan<br />Reddeden</th>
                            <th>Ünvan</th>
                            <th>Onay/Red<br />Tarihi</th>
                            <th>Onaylanan<br />Tutar</th>
                            <th>Belirlenen Ödeme<br />Tarihi</th>
                            <th>Ödeme Yapılan<br />Tarih</th>
                            <th>Geri Ödeme<br />Durumu</th>
                            <th>Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>100</td>
                            <td>1.1.2022</td>
                            <td>15.1.2022</td>
                            <td>1000 TL</td>
                            <td>Onaylanmış</td>
                            <td>Özcan Deniz</td>
                            <td>Satıcı</td>
                            <td>14.1.2022</td>
                            <td>900 TL</td>
                            <td>20.1.2022</td>
                            <td>22.1.2022</td>
                            <td>Geri Ödemeli</td>
                            <td>Tıkla</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
