@{
    ViewData["Title"] = "PendingAdvanceRequestDetails";
}

<style>
    .custom-card {
        width: 40%;
        margin: auto;
    }
</style>

<div class="container col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="mt-1">Avans Talebi Tarihçesi</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text"><strong>Talep No:</strong> 5</p>
                                <p class="card-text"><strong>Talep Oluşturma Tarihi:</strong> 2.10.2020 10:30:52</p>
                                <p class="card-text"><strong>Alınmak İstenen Tarih:</strong> 21.10.2020</p>
                                <p class="card-text"><strong>Projeler:</strong> A Projesi, B Projesi</p>
                                <p class="card-text"><strong>Açıklama:</strong> A ve B Projeleri için izmir eğitimi</p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text"><strong>Talep No:</strong> 5</p>
                                <p class="card-text"><strong>Talep Oluşturma Tarihi:</strong> 2.10.2020 10:30:52</p>
                                <p class="card-text"><strong>Alınmak İstenen Tarih:</strong> 21.10.2020</p>
                                <p class="card-text"><strong>Projeler:</strong> A Projesi, B Projesi</p>
                                <p class="card-text"><strong>Açıklama:</strong> A ve B Projeleri için izmir eğitimi</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">İşlem No</th>
                                <th scope="col">Durum</th>
                                <th scope="col">İşlem Zamanı</th>
                                <th scope="col">İşlemi Yapan</th>
                                <th scope="col">Sonraki Aşama Kullanıcısı</th>
                                <th scope="col">Sonraki Durum</th>
                                <th scope="col">Onaylanan Tutar</th>
                                <th scope="col">Ödeme Yapılacak Tarih</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Talep oluşturuldu</td>
                                <td>2.10.2020 10:30:20</td>
                                <td>Gizem Akgün</td>
                                <td>Nejdet Akgün</td>
                                <td>BM Onayı</td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>BM onayladı</td>
                                <td>2.10.2020 10:30:20</td>
                                <td>Nejdet</td>
                                <td>Mehmet</td>
                                <td>Direktör Onayına</td>
                                <td>15.000 TL</td>
                                <td> </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Uygun Görülen Tutar:</h5>
                        <div class="input-group mb-1">
                            <input type="text" class="form-control" placeholder="Tutar" aria-label="Tutar" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">TL</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary">Reddet</button>
                            <button type="button" class="btn btn-primary">Onayla</button>
                        </div>
                    </div>
                </div>

                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Uygun Görülen Ödeme Tarihi:</h5>
                        <div class="input-group date mb-1" id="datetimepicker" data-target-input="nearest">
                            <input type="date" class="form-control datetimepicker-input" data-target="#datetimepicker" />
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary">Formu Temizle</button>
                            <button type="button" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </div>

                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Avans Teslimi Makbuz No:</h5>
                        <div class="input-group mb-1">
                            <input type="text" class="form-control" placeholder="Makbuz No" aria-label="Tutar" aria-describedby="basic-addon2">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary">Çıkış</button>
                            <button type="button" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </div>

                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Geri Ödeme Makbuz No:</h5>
                        <div class="input-group mb-1">
                            <input type="text" class="form-control" placeholder="Makbuz No" aria-label="Tutar" aria-describedby="basic-addon2">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary">Çıkış</button>
                            <button type="button" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

