<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("Header")

<body class="">
    @await Component.InvokeAsync("Navbar")

    @await Component.InvokeAsync("Sidebar")

    <div class="pc-container">
        <div class="pcoded-content">

            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard sale</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item">Dashboard sale</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                @RenderBody()
            </div>

        </div>
    </div>

    @await Component.InvokeAsync("Script")
</body>
</html>