<div class="loader-bg">
	<div class="loader-track">
		<div class="loader-fill"></div>
	</div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ Mobile header ] start -->
<div class="pc-mob-header pc-header">
	<div class="pcm-logo">
		<img src="~/dashboardkit/dist/assets/images/bilgeadamavans.png" alt="" class="logo logo-lg">
	</div>
	<div class="pcm-toolbar">
		<a href="#!" class="pc-head-link" id="mobile-collapse">
			<div class="hamburger hamburger--arrowturn">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<a href="#!" class="pc-head-link" id="headerdrp-collapse">
			<i data-feather="align-right"></i>
		</a>
		<a href="#!" class="pc-head-link" id="header-collapse">
			<i data-feather="more-vertical"></i>
		</a>
	</div>
</div>
<!-- [ Mobile header ] End -->
<!-- [ navigation menu ] start -->
<nav class="pc-sidebar ">
	<div class="navbar-wrapper">
		<div class="m-header">
			<a href="~/Home/Index" class="b-brand">
				<!-- ========   change your logo hear   ============ -->
				<img src="~/dashboardkit/dist/assets/images/bilgeadamavans.png" alt="" class="logo logo-lg">
				<img src="~/dashboardkit/dist/assets/images/logo-sm.svg" alt="" class="logo logo-sm">
			</a>
		</div>
		<div class="navbar-content">
			<ul class="pc-navbar">
				<li class="pc-item pc-caption">
					<label>Avans İşlemleri</label>
				</li>
				<li class="pc-item">
					<a href="~/Advance/AdvanceRequest" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">note_add</i></span><span class="pc-mtext">Yeni Avans Talebi</span></a>
				</li>
				<li class="pc-item">
					<a href="~/Advance/MyAdvanceRequests" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">source</i></span><span class="pc-mtext">Geçmiş Avans Taleplerim</span></a>
				</li>
				<li class="pc-item">
					<a href="~/Advance/PendingAdvanceRequests" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">pending</i></span><span class="pc-mtext">Onay Bekleyen Talepler</span></a>
				</li>
				<li class="pc-item">
					<a href="~/Advance/PendingAdvanceRequests" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">payments</i></span><span class="pc-mtext">Ödeme Tarihi Bekleyen Avanslar</span></a>
				</li>
				<li class="pc-item">
					<a href="~/Advance/AdvanceReport" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">print</i></span><span class="pc-mtext">Avans Raporlama</span></a>
				</li>
				<li class="pc-item">
					<a href="~/Advance/AdvanceList" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">format_list_bulleted</i></span><span class="pc-mtext">Avanslar Listesi</span></a>
				</li>

			</ul>
		</div>
	</div>
</nav>