<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\nlog-internal.log"
      internalLogLevel="Trace">


	<targets>
		<target xsi:type="Database" name="databaseTarget">
			<dbProvider>System.Data.SqlClient</dbProvider>
			<connectionString>Server=DESKTOP-EVHNVRA\SQLEXPRESS; Database=AdvanceDB;Trusted_Connection=True; TrustServerCertificate=True;</connectionString>
			<commandText>
				INSERT INTO LogTable (LogLevel, Message, Exception, CreatedAt)
				VALUES (@level, @message, @exception, @timestamp);
			</commandText>

			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@timestamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
		</target>
	</targets>


	<rules>
		<logger name="*" minlevel="Info" writeTo="databaseTarget" />
	</rules>
</nlog>